# Composer
/vendor/
composer.lock
composer.phar

# OS
.DS_Store
Thumbs.db

# IDE / Editor
# PhpStorm / IntelliJ
.idea/
# VSCode
.vscode/
# Sublime Text
*.sublime-project
*.sublime-workspace

# Logs / Temporary files
*.log
*.tmp
*.bak
*.swp

# Unit testing / coverage
/coverage/
.phpunit.result.cache

# System cache
.cache/
